*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1000px;
    border: #000 1px solid;
    background-color: rgb(111, 185, 185) !important;
}



.IMC, .Conversor{
    margin-top: 70px;
    border: #000 1px solid;
   
}


input{
    border: 1px solid #000000 !important;


}


.NuevaNota{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.containerNotas{
display: flex;
flex-wrap: wrap;
}

.nota{
    height: 30vh;
    width: 11vw;
    background-color: wheat !important;
    margin: 25px;

}